<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang = "en">
<head>
    <title>Login</title>
    <header th:insert="fragments.html :: style"/>
</header>
<body>
<header th:insert="fragments.html :: navbar"></header>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<form th:action="@{/login}" method="post" >
    <lable>Username</lable>
    <input type="text" id="username" name="username" class="form-control" required="true">

    <lable>Password</lable>
    <input type="password" id="password" name="password"class="form-control" required="true">

    <input type="submit">
</form>
<br>
<a th:href="@{~/registration}"><b>Registration</b></a>
</body>
</html>