<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link th:href="@{/css/styles.css}" th:rel="stylesheet" />
</head>
<body>
<nav th:insert="fragments.html :: navbar"></nav>

<form role="form" th:action="@{/products/categorized}" th:method="post">
    <h4>Sort products by category</h4>
    <select id="category" name="category">
        <option disabled selected value> -- select an option -- </option>
        <option th:value="All" th:text="All"></option>
        <option th:value="MedGlasses" th:text="Frames"></option>
        <option th:value="Lenses" th:text="Lenses"></option>
        <option th:value="SunGlasses" th:text="Sunglasses"></option>
    </select>
    <input type="submit" value="Sort"/>
</form>
<div class="container">
    <div class="row">
        <div th:each="product : ${products}" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" th:src="${product.imagePath}" alt="..." /></a>
                <div class="card-body">
                    <h4 class="card-title" th:text="${product.name}"></h4>
                    <h5 th:text="${product.price}"></h5>
                </div>
                <div class="card-footer">
                    <form th:action="@{|/user/addToCart/${product.productId}|}" th:method="get">
                        <input type="submit" value="Add to cart"/>
                    </form>
                    <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{|/admin/deleteProduct/${product.productId}|}" th:method="get">
                        <input type="submit" value="Delete Product"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>